.h1 {
    font-weight: bold;
}

.job-card {
    border: 1px solid black; /* Thin black border */
    padding: 10px;
    margin-bottom: 20px; /* Space between job cards */
    border-radius: 5px; /* Optional: rounded corners for a softer look */
}

 /*zoom in on job card on hover  */
.job-card:hover {
    transition: transform 0.3s ease;
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.job-title {
    font-weight: bold;
}

.job-date {
    font-style: italic;
    color: gray;
}

.job-company {
    text-align: left;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 5px;
    font-style: italic;
}

.job-location {
    text-align: left;
    color: gray;
    margin-bottom: 10px;
}

.job-description {
    text-align: left;
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

.job-technologies {
    text-align: left;
}

.tech-icon {
    font-size: 1.5em; /* Adjust size as needed */
    margin-right: 10px;
    /* color: #000000; Icon color */
}

.blank-space {
    margin: 40px;
}

.school-card {
    border: 1px solid black; /* Thin black border */
    padding: 10px;
    margin-bottom: 20px; /* Space between school cards */
    border-radius: 5px; /* Optional: rounded corners for a softer look */
}

.school-card:hover {
    transition: transform 0.3s ease;
}

@media (max-width: 600px) {
    .job-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .job-date {
        margin-top: 5px;
    }
}


/* New styles for skills section */

.skills-section {
    margin-top: 20px;
    text-align: left;
}

.skill {
    margin-bottom: 20px;
}

.skill h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.skill ul {
    list-style-type: disc;
    margin: 0 0 0 20px;
}

.skill ul li {
    margin-bottom: 5px;
}

.skill ul li a {
    color: #0066cc;
    text-decoration: none;
}

.skill ul li a:hover {
    text-decoration: underline;
}