.contacts-list {
    list-style: none;
    padding: 0;
}

.contacts-list li {
    margin: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.contacts-list li i {
    margin-right: 20px;
    color: #000000;
}

.contacts-list li a {
    text-decoration: none;
    color: #0073e6;
    transition: color 0.3s;
}

.contacts-list li a:hover {
    color: #005bb5;
    font-weight: bold;
}
