<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ data.name }}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alike+Angular&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body class="{{ request.endpoint }}">
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    
    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="nav-link">mlanfranchi.xyz</a>
            {% if request.endpoint == 'index' %}
            <ul class="nav-menu">
                <li class="nav-link">
                    <a href="#experience" class="nav-link">Experience</a>
                </li>
                <li class="nav-link">
                    <a href="#projects" class="nav-link">Projects</a>
                </li>
                <li class="nav-link dropdown">
                    <a href="#" class="nav-link">More</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('listening_history') }}">Listening History</a>
                        <a href="{{ url_for('concert_history') }}">Concert History</a>
                    </div>
                </li>
            </ul>
            {% else %}
            <ul class="nav-menu">
                    <li class="nav-link dropdown">
                    <a href="#" class="nav-link">More</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('listening_history') }}">Listening History</a>
                        <a href="{{ url_for('concert_history') }}">Concert History</a>
                    </div>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
